<html>
<header>
    <title>Embed Player</title>
    <style>
        iframe {
            /* width: 1280px;
            height: 720px; */
            overflow: hidden;
            border: 0px none;
            position: relative;
            z-index: 0;
        }

        body {
            overflow: hidden;
            margin: 0 auto;
            text-align: center;
            margin-top: 20px;
            background: #f1f1f1;
            max-width: 1280px;
            margin: 0 auto;

        }

        input {
            width: 15%;
            line-height: 30px;
            margin: 20px 0;
            border: 0px;
            border-radius: 15px;
            color: #800000;
            padding: 0px 20px;
            font-weight: 500px;
        }


        input#url {
            width: 55%;
        }

        #button {
            width: 10%;
            height: 30px;
            color: #ff5062;
            background: #1d1412;
            border: 0px;
        }

        h2 {
            margin-top: 20px;
        }

        textarea#textArea{
            width: 100%;
            line-height: 30px;
            margin: 20px 0;
            border: 0px;
            border-radius: 15px;
            color: #800000;
            padding: 0px 20px;
            font-weight: 500px;
            max-height: 70px;
        }
    </style>
</header>

<body>
    <div>
        <h2>Embed Player</h2>
    </div>
    <div>

        <div class="ifram-prop">
            <form method="post" action="/ifram">
                <input type="text" id="url" name='url' placeholder="Enter URL">
                <input type="text" id="iframWidth " name='width' placeholder="Enter Ifram width">
                <input type="text" id="iframHeight" name='height' placeholder="Enter Ifram height">
                <input id="button" type="submit" value=">>">
            </form>
        </div>


        <div id='iframElement'>
                <iframe marginheight="0" marginwidth="0" allowfullscreen="true" scrolling="no" width=<%= width %>+"px" frameborder="0" height=<%= height %>+"px"
                    src="<%= url %>">
                </iframe>
        </div>

        <textarea name="textArea" id="textArea" cols="30" rows="10"><%= ifram %></textarea>
        

    </div>
    <div id='iframElement'></div>
</body>

</html>